.footerContainer{
    /* 레이아웃 */
    width: 100%;
    height: 170px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLayout{
    /* 레이아웃 */
    width: 90%;
    max-width: 1500px;
    min-width: 1150px;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    
    /* 스타일 */
    background-color: white;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
}


.footerContents{
    /* 레이아웃 */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    margin-left: 3%;

    /* 스타일 */
    font-family: 'BMJUA', sans-serif;
}

.content1 {
    /* 레이아웃 */
    margin: 0;

    /* 스타일 */
    font-size: 25px;
    font-weight: 500;
    color: black;
}
  
.content2 {
    /* 레이아웃 */
    margin: 0;

    /* 스타일 */
    font-size: 28px;
    font-weight: 500;
    color: #024DEF;
}

.content3 {
    /* 레이아웃 */
    margin: 0;
    
    /* 스타일 */
    margin-top: 30px;
    font-size: 20px;
    color: #4E4E4E;
}