.headerContainer{
    /* 레이아웃 */
    width: calc(100% - 5% - 10%);
    height: 230px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 70px 5% 0 10%;

    margin-bottom: 1%;

     /* 그림자 추가 */
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
}

.headerTop{
    /* 레이아웃 */
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    margin-bottom: 4%;
}

.searchContainer{
    /* 레이아웃 */
    width: 856px;
    height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    margin-left: 30px;

    /* 스타일 */
    border-width: 1px;
    border: solid;
    border-radius: 30px;
    border-color: #89BAFF;

}


.searchTextBox{
    /* 레이아웃 */
    width: 620px;
    height: 80%;

    /* 스타일 */
    border-width: 0;
    border-radius: 20px;
    outline: none;
    font-size: 24px;
    font-weight: 600;
    
}

.rankContainer{
    /* 레이아웃 */
    width: 180px;
    height: 100%;

    display: flex;
    flex: row;

    align-items: center;
}

.rankNum{
    /* 레이아웃 */
    margin-left: 10px;

    /* 스타일 */
    font-size: 24px;
    font-weight: 600;
    color: #1B63FF;
}

.rankName{
    /* 레이아웃 */
    margin-left: 10px;

    /* 스타일 */
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.headerBottom{
    /* 레이아웃 */
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px 0;
}

.navigationContainer{
    /* 레이아웃 */
    display: flex;
    flex-direction: row;

    & p{
        /* 레이아웃 */
        margin: 20px;

        /* 스타일 */
        font-size: 22px;
        font-weight: 600;
        color:#747474;
        
        cursor: pointer;

        &:hover {
            color: #000000;
        }
    }
}

.loginContainer{
    /* 레이아웃 */
    display: flex;
    flex-direction: row;

    & p{
        /* 레이아웃 */
        margin-right: 10px;

        /* 스타일 */
        font-size: 20px;
        font-weight: 600;
        color: #747474;
        
        cursor: pointer;

        &:hover {
            color: #000000;
        }
    }
}

.active {
    color: black;
}