.headerContainer{
    /* 레이아웃 */
    width: calc(100% - 10%);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 5% 0 5%;
    margin: 0 0 1% 0;
}

.headerTop{
    /* 레이아웃 */
    width: 100%;
    max-width: 1500px;
    min-width: 1150px;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 1%;

    /* 스타일 */
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);

}

.logoContainer{
    /* 레이아웃 */
    flex: 20;
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 20px;
}

.navigationContainer{
    /* 레이아웃 */
    flex: 60;

    display: flex;
    flex-direction: row;
    justify-content: start;

    margin-left: 20px;

    & p{
        /* 레이아웃 */
        margin: 20px;

        /* 스타일 */
        font-size: 22px;
        font-weight: 600;
        color:#747474;
        
        cursor: pointer;

        &:hover {
            color: #000000;
        }
    }
}

.loginContainer{
    /* 레이아웃 */
    flex: 20;

    display: flex;
    flex-direction: row;

    & p{
        /* 레이아웃 */
        margin-right: 10px;

        /* 스타일 */
        font-size: 20px;
        font-weight: 600;
        color: #747474;
        
        cursor: pointer;

        &:hover {
            color: #000000;
        }
    }
}

.active {
    color: black;
}