.backgroundWrapper {
  padding: 0px 24px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  max-width: 1500px;
  min-width: 1150px;
  margin: 0 auto;
}

.contentContainer {
  width: 100%;
  background-color: white;
  padding: 40px;
  border-radius: 30px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.12);
}

.banner {
  background-color: #4a90e2;
  color: white;
  padding: 32px 24px;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 40px;
  max-width: 1150px;     
  margin: 0 auto;
}

.searchBox {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1150px;     
  margin: 0 auto;
}

.keywordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 12px;
  color: #999;
}

.keywordInput {
  padding: 12px 12px 12px 36px;
  font-size: 16px;
  border-radius: 10px;
  border: 2px solid #ccc;
  min-width: 240px;
  height: 42px;
  box-sizing: border-box;
}

.searchButton {
  padding: 12px 28px;
  background-color: #184880;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  height: 44px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.writeButtonContainer {
  max-width: 1200px;     
  margin: 32px auto 16px;
  display: flex;
  justify-content: flex-end;
}

.writeButton {
  background: #4a90e2;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}

.resultTable {
  width: 100%;
  max-width: 1220px;     
  margin: 0 auto;
  table-layout: fixed;
  border-collapse: collapse;
  word-wrap: break-word;
}

.resultTable th { /* 글번호 기업명 직무... */
  padding: 12px 16px;
  margin-bottom: 20px;
  font-size: 15px;
  text-align: center;
  white-space: nowrap;

  border-top: solid;
  border-bottom: solid;
  border-width: 500;
  border-color: #d3ddeb;

}

.resultTable td { /* JSON 데이터 파일 들어가는 부분*/
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.resultTable td:nth-child(4) {
  text-align: left;
}


.pagination {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  max-width: 1150px;     
  margin: 24px auto 0;
}

.pagination span {
  margin: 0 6px;
  cursor: pointer;
  color: #444;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  outline: none;
}

.pagination span:focus {
  outline: none;
}

.pagination .active {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 4px;
}
