.inputLayout{
    /* 레이아웃 */
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.inputStyle{
    /* 레이아웃 */
    width: calc(100%-15px);
    height: calc(100% - 25px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 15px;

    /* 스타일 */
    border: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgb(193, 193, 193);

    font-size: 20px;
    font-weight: 400;

    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}

.successMessageBox{
    /* 레이아웃 */
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 10px;
    
    /* 스타일 */
    color: rgb(30, 196, 38);
    font-size: 12px;
    font-weight: 700;
}

.errorMessageBox{
    /* 레이아웃 */
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-left: 10px;
    
    /* 스타일 */
    color: rgb(249, 23, 23);
    font-size: 12px;
    font-weight: 700;
}