/* src/pages/coverLetter/CoverLetterPage.module.css */
.pageContainer {
  display: flex;
  justify-content: center;
  padding: 0;
  height:auto;
  margin-bottom: 65px;
}

.mainContent {
  display: flex;
  width: 95%;
  max-width: 1300px;
  gap: 32px;
  align-items: flex-start;
}

