/* src/pages/coverLetter/CoverLetterPage.module.css */
.pageContainer {
  /* 레이아웃 */
  width: 90%;
  max-width: 1500px;
  min-width: 1150px;
  margin: 0 auto;
  padding-top: 0;
}

.mainContent {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

