/* 기본 레이아웃 */
.layout {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    /* 스타일 */
    /* background-color: #ffffff; */
    background-color: #eef5f8;

    /* background: linear-gradient(135deg, #f6f9fc 0%, #eef2f7 100%); */

    z-index: 0;

    /* background: linear-gradient(180deg,rgba(145, 241, 242, 1) 0%, rgba(255, 220, 145, 1) 100%); */
    /* background: linear-gradient(180deg,rgba(136, 158, 181, 1) 0%, rgba(115, 140, 65, 1) 100%); */
}

.layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(135deg, #4a90e2 0%, #357abd 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    z-index: -1;
  }



/* 랭킹페이지 레이아웃 */
.rankingLayout{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #f6f9fc 0%, #eef2f7 100%);
}

.rankingLayout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    background: linear-gradient(135deg, #4a90e2 0%, #357abd 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    z-index: 0;
  }


Footer{
    position: relative;
    z-index: 999;
}