/* 기본 레이아웃 */
.layout {
    position: relative;
    min-height: 100vh;
    width: 100vw;

    /* 스타일 */
    /* background-color: rgb(243, 246, 255); */
    background: linear-gradient(180deg,rgba(145, 241, 242, 1) 0%, rgba(255, 220, 145, 1) 100%);
    /* background: linear-gradient(180deg,rgba(136, 158, 181, 1) 0%, rgba(115, 140, 65, 1) 100%); */
}

Footer{
    position: relative;
    z-index: 999;
}